@font-face {
    font-family: "Inter Bold";
    src: url("../fonts/Inter-Bold.ttf");
    }
@font-face {
    font-family: "SourceSansPro Bold";
    src: url("../fonts/SourceSansPro-Bold.ttf");
    }
@font-face {
    font-family: "SourceSansPro SemiBold";
    src: url("../fonts/SourceSansPro-SemiBold.ttf");
    }
@font-face {
    font-family: "SourceSansPro Regular";
    src: url("../fonts/SourceSansPro-Regular.ttf");
    }

#pos__container {
    -fx-background-color: #F5F7F9;
}
/*
MENU STYLING
*/
.menu-grid {
    -fx-background-color: #4B5A73;
}
.menu-selector {
    -fx-background-color: #20314C;
}
.menu-selector--btn {
    -fx-background-color: transparent;
    -fx-text-fill: #FFFFFF;
    -fx-font-family: "Source Sans Pro";
    -fx-font-weight: bold;
    -fx-font-size: 21px;
}
/*
CART STYLING
*/
.cart--side-bar {
    -fx-background-color: #8F98A6;
    -fx-padding: 25px 25px 15px 25px;
    -fx-font-family: "Inter Bold";
}
.cart--scroll-pane {
    -fx-background-color:transparent;
}
#checkoutBtn {
    -fx-background-color: #20314C;
    -fx-background-radius: 25px;
    -fx-text-fill: #FFFFFF;
    -fx-font-family: "Source Sans Pro Bold";
    -fx-font-size: 20px;
    -fx-margin: 50px 0 0 0
}


.tab-pane .tab-header-area .tab-header-background {
    -fx-opacity: 0;
}
.tab-pane {
    -fx-tab-min-width:90px;
    -fx-tab-min-height: 45px;
}
.tab{
    -fx-background-insets: 0 1 0 1,0,0;
}
.tab-pane .tab {
    -fx-background-color: #e6e6e6;
}
.tab-pane .tab:selected {
    -fx-background-color: #F05756;
}
.tab .tab-label {
    -fx-font-family: "Inter Bold";
    -fx-alignment: CENTER;
    -fx-text-fill: #615F67;
    -fx-font-size: 12px;
}

.tab:selected .tab-label {
    -fx-alignment: CENTER;
    -fx-text-fill: #FDFDFD;
}

.scroll-pane > .viewport {
   -fx-background-color: transparent;
}
#cart {
    -fx-background-color: #FFFFFF;
}
.cart-title__container {
    -fx-spacing: 4px;
}
.cart--header {
    -fx-font-family: "Source Sans Pro SemiBold";
    -fx-font-size: 24px;
}
.cart--subheader {
    -fx-font-family: "SourceSansPro Bold";
    -fx-font-size: 16px;
}
